#CMake files
CMakeCache.txt
cmake_install.cmake
CMakeFiles/*
Makefile
install_manifest.txt

#PosturePerfection
Examples/PosturePefection/CMakeCache.txt
Examples/PosturePerfection/cmake_install.cmake
Examples/PosturePerfection/CMakeFiles/*
Examples/PosturePerfection/Makefile

#Binaries
libRemoteNotifyBroadcast.a
libRemoteNotifyReceive.a
Examples/PosturePerfection/PosturePerfectionReceiver
Examples/PosturePerfection/PosturePerfectionLocalReceiver
Examples/PosturePerfection/PosturePerfectionTestBroadcast
#Vim
.swp
#VSCODE
.vscode/
