#CMake files
CMakeCache.txt
cmake_install.cmake
CMakeFiles/*
Makefile
install_manifest.txt

#Binaries
libRemoteNotify.a
libRemoteNotifyBroadcast.a
libRemoteNotifyReceive.a
PosturePerfectionReceiver
PosturePerfectionTestBroadcast
#Vim
.swp

